@model IEnumerable<BookWorld.Models.Book>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = "Home Page";
}


    <section class="py-5">

        <div class="container px-5 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                @foreach (var item in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-auto">
                            <!-- Product image-->
                            <img class="card-img-top" src="@Url.Content(item.Image)" asp-append-version="true" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-2">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">@item.Name</h5>
                                    <!-- Product price-->
                                    @item.Price TL
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-2 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto" asp-controller="Book"
                                       asp-action="BookDetail"
                                       asp-route-id=@item.Id>@localizer["Ayrıntılar"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>

        </div>

    </section>
